test -e .env && source .env

# test -d .direnv || mkdir -p .direnv
# now="$(date +%Y-%m-%d)"

# if [[ $(hostname) != 'home' ]]; then
#   return
# fi

# if ! test -s .direnv/pull-date || test "$now" != "$(cat .direnv/pull-date)"; then
#   git checkout -- flake.lock && \
#   git pull --rebase --autostash && \
#   git pull github main && \
#   nix flake update nixpkgs && \
#   echo "$now" > .direnv/pull-date

#   git pull github main

#   if git diff-index --name-only HEAD | grep -q flake.lock; then
#     deploy .#home && \
#     deploy --skip-checks .#brix && \
#     deploy --skip-checks .#d2550 && \
#     nh home switch && \
#     git reset && \
#     git add flake.lock && \
#     git commit -m "chore: update nixpkgs"
#   fi
# fi
